<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <img id="logo" class="p-3" src="assets/images/logo.png" alt="">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/new-employee">Insert new Employees</a>
      <a mat-list-item routerLink="/salary-generate">Salary</a>
      <a mat-list-item routerLink="/pay-sheet-print">Print</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Print Pay Sheet</span>
    </mat-toolbar>
    <div id="mainDiv" class="container mt-3">

      <form id="paySheetPrint" class=" p-2" action="#" (ngSubmit)="printPaySheet($event)">

        <h3>Pay Sheet Print</h3>
        <div class="form-floating m-2">
          <select class="form-select" #employeeIDSelect name="selectEmployee"
                  aria-label="Floating label select example" [(ngModel)]="selectedEmployeeID"
                  [ngModelOptions]="{ standalone: true }">
            <option value="" disabled selected></option>
            <option *ngFor="let employeeId of employeeIDsArray" [value]="employeeId">{{ employeeId }}</option>
          </select>
          <label class="form-label" style="z-index: 0">Select employee ID</label>
        </div>


        <div class="form-floating m-2">
          <select class="form-select" id="yearSelect" name="selectYear" aria-label="Floating label select example"
                  [(ngModel)]="selectedYear" [ngModelOptions]="{ standalone: true }">
            <option value="" disabled selected></option>
            <option *ngFor="let year of yearList" [value]="year.year">{{ year.year }}</option>
          </select>
          <label class="form-label" for="yearSelect" style="z-index: 0">Select year</label>
        </div>


        <div class="form-floating m-2">
          <select class="form-select" id="monthSelect" name="selectedMonth" aria-label="Floating label select example"
                  [(ngModel)]="selectedMonth" [ngModelOptions]="{ standalone: true }">
            <option value="" disabled selected></option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <label class="form-label" for="monthSelect" style="z-index: 0">Select Month</label>
        </div>

        <br>
        <button class="btn btn-primary m-2" type="submit">Print</button>
        <button #clearBtn type="reset" class="btn btn-warning">Clear</button>
      </form>



      <form id="salarySheetPrint" class=" p-2" action="#" (ngSubmit)="printSalarySheet($event)">

        <h3>Salary Sheet Print</h3>

        <div class="form-floating m-2">
          <select class="form-select" id="salarySheetYearSelect" name="selectYear" aria-label="Floating label select example"
                  [(ngModel)]="salarySheetSelectedYear" [ngModelOptions]="{ standalone: true }">
            <option value="" disabled selected></option>
            <option *ngFor="let year of yearList" [value]="year.year">{{ year.year }}</option>
          </select>
          <label class="form-label" for="salarySheetYearSelect" style="z-index: 0">Select year</label>
        </div>

        <div class="form-floating m-2">
          <select class="form-select" id="salarySheetMonthSelect" name="selectedMonth" aria-label="Floating label select example"
                  [(ngModel)]="salarySheetSelectedMonth" [ngModelOptions]="{ standalone: true }">
            <option value="" disabled selected></option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <label class="form-label" for="salarySheetMonthSelect" style="z-index: 0">Select Month</label>
        </div>

        <br>
        <button class="btn btn-primary m-2" type="submit">Print</button>
        <button type="reset" class="btn btn-warning">Clear</button>

      </form>


      <form id="epfSheetPrint" class=" p-2" action="#" (ngSubmit)="printepfSheet($event)">

        <h3>EPF Sheet Print</h3>

        <div class="form-floating m-2">
          <select class="form-select" id="epfSheetYearSelect" name="selectYear" aria-label="Floating label select example"
                  [(ngModel)]="epfSheetSelectedYear" [ngModelOptions]="{ standalone: true }">
            <option value="" disabled selected></option>
            <option *ngFor="let year of yearList" [value]="year.year">{{ year.year }}</option>
          </select>
          <label class="form-label" for="salarySheetYearSelect" style="z-index: 0">Select year</label>
        </div>

        <div class="form-floating m-2">
          <select class="form-select" id="epfSheetMonthSelect" name="selectedMonth" aria-label="Floating label select example"
                  [(ngModel)]="epfSheetSelectedMonth" [ngModelOptions]="{ standalone: true }">
            <option value="" disabled selected></option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <label class="form-label" for="salarySheetMonthSelect" style="z-index: 0">Select Month</label>
        </div>

        <br>
        <button class="btn btn-primary m-2" type="submit">Print</button>
        <button type="reset" class="btn btn-warning">Clear</button>

      </form>

      <form id="bankSalaryPrint" class=" p-2" action="#" (ngSubmit)="printbankSalarySheet($event)">

        <h3>Print salary sheet according to bank</h3>

        <div class="form-floating m-2">
            <select class="form-select" id="bankSelect" name="selectYear" aria-label="Floating label select example"
                    [(ngModel)]="bankSalarySheetSelectedBankName" [ngModelOptions]="{ standalone: true }">
              <option value="" disabled selected></option>
              <option *ngFor="let bank of bankList" [value]="bank.bankName">{{ bank.bankName }}</option>
            </select>
            <label class="form-label" for="bankSelect" style="z-index: 0">Select Bank</label>
        </div>

        <div class="form-floating m-2">
          <select class="form-select" id="bankSalarySheetYearSelect" name="selectYear" aria-label="Floating label select example"
                  [(ngModel)]="bankSalarySheetSelectedYear" [ngModelOptions]="{ standalone: true }">
            <option value="" disabled selected></option>
            <option *ngFor="let year of yearList" [value]="year.year">{{ year.year }}</option>
          </select>
          <label class="form-label" for="salarySheetYearSelect" style="z-index: 0">Select year</label>
        </div>

        <div class="form-floating m-2">
          <select class="form-select" id="bankSalarySheetMonthSelect" name="selectedMonth" aria-label="Floating label select example"
                  [(ngModel)]="bankSalarySheetSelectedMonth" [ngModelOptions]="{ standalone: true }">
            <option value="" disabled selected></option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <label class="form-label" for="salarySheetMonthSelect" style="z-index: 0">Select Month</label>
        </div>

        <br>
        <button class="btn btn-primary m-2" type="submit">Print</button>
        <button type="reset" class="btn btn-warning">Clear</button>

      </form>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
