<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <img id="logo" src="assets/images/logo.png" >
    <mat-nav-list>
      <a mat-list-item  routerLink="/">Home</a>
      <a mat-list-item routerLink="/new-employee">Insert new Employees</a>
      <a mat-list-item routerLink="/salary-generate">Salary</a>
      <a mat-list-item routerLink="/pay-sheet-print">Pay sheets</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Print Pay Sheet</span>
    </mat-toolbar>
    <div id="mainDiv" class="container mt-3">
      <div class="form-group">
        <label for="employeeID">Employee ID</label>
        <input id="employeeID" class="form-control form-control-sm" type="text" required placeholder="Enter Employee ID">
      </div>

      <div class="form-group">
        <label for="yearSelect">Year</label>
        <select id="yearSelect" class="form-control">
          <option>2010</option>
          <option>2011</option>
        </select>
      </div>

      <div class="form-group">
        <label for="monthSelect">Month</label>
        <select id="monthSelect" class="form-control">
          <option value="Jan">Jan</option>
          <option value="Feb">Feb</option>
          <option value="Mar">Mar</option>
          <option value="Apr">Apr</option>
          <option value="May">May</option>
          <option value="Jun">Jun</option>
          <option value="Jul">Jul</option>
          <option value="Aug">Aug</option>
          <option value="Sep">Sep</option>
          <option value="Oct">Oct</option>
          <option value="Nov">Nov</option>
          <option value="Dec">Dec</option>
        </select>
      </div>

      <br>
      <button class="btn btn-primary">Print</button>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
