<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <img id="logo" class="p-3" src="assets/images/logo.png" alt="">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/new-employee">Insert new Employees</a>
      <a mat-list-item routerLink="/salary-generate">Salary</a>
      <a mat-list-item routerLink="/pay-sheet-print">Print</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Salary</span>
    </mat-toolbar>
    <div id="mainDiv" class="flex-container">
      <!--      content-->
      <div id="leftDDiv" class="flex-item p-3">
        <form class="container" (ngSubmit)="saveSalary($event,saveBtn,employeeIDSelect)">

          <div class="form-floating">
            <select class="form-select" (change)="onSelectChange($event)" #employeeIDSelect name="selectEmployee"
                    aria-label="Floating label select example" [(ngModel)]="selectedEmployeeID"
                    [ngModelOptions]="{ standalone: true }">
              <option value="" disabled selected></option>
              <option *ngFor="let employeeId of employeeIDsArray" [value]="employeeId">{{ employeeId }}</option>
            </select>
            <label class="form-label" style="z-index: 0">Select employee ID</label>
          </div>
          <br>

          <div class="form-floating d-flex">
            <select class="form-select" id="yearSelect" name="selectYear" aria-label="Floating label select example"
                    [(ngModel)]="selectedYear" [ngModelOptions]="{ standalone: true }">
              <option value="" disabled selected></option>
              <option *ngFor="let year of yearList" [value]="year.year">{{ year.year }}</option>
            </select>
            <label class="form-label" for="yearSelect" style="z-index: 0">Select year</label>
            <button type="button" class="btn btn-primary m-2" (click)="showPopup()">+</button>
          </div>

          <!--year enter popup-->
          <div class="popup-container" *ngIf="isPopupVisible">
            <div class="popup">
              <h1>Enter new Year</h1>
              <div>
                <input type="number" #yearInputElm placeholder="eg -: 2020">
                <button class="btn-primary m-2" (click)="saveYear($event,yearInputElm)">Save</button>
              </div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th>Year</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let year of yearList">
                  <td scope="col">{{year.id}}</td>
                  <td>{{year.year}}</td>
                  <td>
                    <div class="delete p-1" (click)="deleteYear(year)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path
                          d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                      </svg>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <button (click)="hidePopup()">Close</button>
            </div>
          </div>


          <br>

          <div class="form-floating">
            <select class="form-select" id="monthSelect" name="selectedMonth" aria-label="Floating label select example"
                    [(ngModel)]="selectedMonth" [ngModelOptions]="{ standalone: true }">
              <option value="" disabled selected></option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            <label class="form-label" for="monthSelect" style="z-index: 0">Select Month</label>
          </div>
          <br>
          <div class="form-group">
            <label class="form-label">Basic Salary :</label>
            <br>
            <label class="form-label">{{ basicSalary }}</label>
          </div>
          <br>
          <div class="bg-info">
            <h3>Employee Attendance</h3>
            <div class="form-group p-1">
              <label class="form-label" for="leavedAllowedElm">Leave Allowed</label>
              <input id="leavedAllowedElm" [(ngModel)]="leaveAllowed" (input)="updateNoPayLeave()"
                     [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="number" required
                     placeholder="Enter Leave Allowed">
            </div>
            <div class="form-group p-1">
              <label class="form-label" for="leaveTakenElm">Leave Taken</label>
              <input id="leaveTakenElm" [(ngModel)]="leaveTaken" (input)="updateNoPayLeave()"
                     [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="number" required
                     placeholder="Enter Leave Taken">
            </div>
            <div class="form-group p-1">
              <label class="form-label" for="noPayLeaveElm">No Pay Leave</label>
              <br>
              <label class="form-label" id="noPayLeaveElm">{{noPayLeave}}</label>
            </div>
            <div class="form-group p-1">
              <label class="form-label" for="normalOverTimeHoursElm">OT rate - 1.5 times</label>
              <input id="normalOverTimeHoursElm" [(ngModel)]="normalOverTimeHours" (input)="updateOverTime()"
                     [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="time" required
                     placeholder="Enter Normal Overtime Hours">
            </div>
            <div class="form-group p-1">
              <label class="form-label" for="specialOverTimeHoursElm">OT rate - 2 times</label>
              <input id="specialOverTimeHoursElm" [(ngModel)]="specialOverTimeHours" (input)="updateOverTime()"
                     [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="time" required
                     placeholder="Enter Overtime Hours">
            </div>
          </div>


          <div id="salaryCalculation" class="row p-3">
            <div id="additions" class="col-md-6 bg-primary">
              <h3>Salary Additions</h3>
              <div class="form-group p-1">
                <label class="form-label" for="salaryIncrementElm">Salary Increment</label>
                <input id="salaryIncrementElm" class="form-control form-control-sm" type="number" required
                       placeholder="Enter Salary Increment" step="0.01" [(ngModel)]="salaryIncrement"
                       (input)="updateGrossSalary()" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="livingAllowanceElm">Cost of Living Allowance</label>
                <input id="livingAllowanceElm" class="form-control form-control-sm" type="number" required
                       placeholder="Enter Cost of Living Allowance" step="0.01" [(ngModel)]="livingAllowance"
                       (input)="updateGrossSalary()" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="foodAllowanceElm">Food Allowance</label>
                <input id="foodAllowanceElm" class="form-control form-control-sm" type="number" required
                       placeholder="Enter Food Allowance" step="0.01" [(ngModel)]="foodAllowance"
                       (input)="updateGrossSalary()" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="conveyanceAllowanceElm">Conveyance Allowance</label>
                <input id="conveyanceAllowanceElm" class="form-control form-control-sm" type="number" required
                       placeholder="Enter Conveyance Allowance" step="0.01" [(ngModel)]="conveyanceAllowance"
                       (input)="updateGrossSalary()" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="medicalAllowanceElm">Medical Allowance</label>
                <input id="medicalAllowanceElm" class="form-control form-control-sm" type="number" required
                       placeholder="Enter Medical Allowance" step="0.01" [(ngModel)]="medicalAllowance"
                       (input)="updateGrossSalary()" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="grossSalaryElm">Gross Salary</label>
                <br>
                <label class="form-label" id="grossSalaryElm">{{ grossSalary.toFixed(2) }}</label>
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="overTimeElm">Over Time</label>
                <br>
                <label class="form-label" id="overTimeElm">{{overTime | number: '1.2-2'}}</label>
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="reimbursementsElm">Reimbursements</label>
                <input id="reimbursementsElm" [(ngModel)]="reimbursements" (input)="updateBeforeSalaryDeduction()"
                       [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="number"
                       required
                       placeholder="Enter Reimbursements" step="0.01">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="bonusElm">Bonus</label>
                <input id="bonusElm" [(ngModel)]="bonus" (input)="updateBeforeSalaryDeduction()"
                       [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="number"
                       required
                       placeholder="Enter Bonus" step="0.01">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="beforeDeductionElm">Salary Before Deduction</label>
                <br>
                <label class="form-label" id="beforeDeductionElm">{{salaryBeforeDeduction | number: '1.2-2'}}</label>
              </div>
            </div>

            <div id="deductions" class="col-md-6 bg-warning">
              <h3>Salary Deductions</h3>
              <div class="form-group p-1">
                <label class="form-label" for="noPayDeductionsElm">No Pay Days Deductions</label>
                <br>
                <label class="form-label" id="noPayDeductionsElm">{{noPayDeduction | number: '1.2-2'}}</label>
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="salaryAdvanceElm">Salary Advance</label>
                <input id="salaryAdvanceElm" [(ngModel)]="salaryAdvance" (input)="updateTotalDeduction()"
                       [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="number"
                       required
                       placeholder="Enter Salary Advance" step="0.01">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="welfareServiceElm">welfare services</label>
                <input id="welfareServiceElm" [(ngModel)]="welfareService" (input)="updateTotalDeduction()"
                       [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="number"
                       required
                       placeholder="Enter welfare services deductions" step="0.01">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="insuranceElm">insurance</label>
                <input id="insuranceElm" [(ngModel)]="insurance" (input)="updateTotalDeduction()"
                       [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="number"
                       required
                       placeholder="Enter insurance" step="0.01">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="apitElm">Advance Personal Income Tax (APIT)</label>
                <input id="apitElm" [(ngModel)]="apit" (input)="updateTotalDeduction()"
                       [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" type="number"
                       required placeholder="Enter APIT"
                       step="0.01">
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="epfEmployeedeductionElm">EPF Employee Contribution (8%)</label>
                <br>
                <label class="form-label" id="epfEmployeedeductionElm">{{epfEmployeeContribution  | number: '1.2-2'}}</label>
              </div>
              <div class="form-group p-1">
                <label class="form-label" for="totalDeductionElm">Total Deductions</label>
                <br>
                <label class="form-label" id="totalDeductionElm">{{totalDeductions | number: '1.2-2'}}</label>
              </div>


            </div>

          </div>
          <div class="form-group p-1">
            <label class="form-label" for="netSalaryElm">Net Payable Salary</label>
            <br>
            <label class="form-label" id="netSalaryElm">{{netPayableSalary | number: '1.2-2'}}</label>
          </div>
          <div class="form-group p-1">
            <label class="form-label" for="employerEPFElm">EPF Employer Contribution(12%)</label>
            <br>
            <label class="form-label" id="employerEPFElm">{{epfEmployerContribution| number: '1.2-2'}}</label>
          </div>
          <div class="form-group p-1">
            <label class="form-label" for="employerETFElm">ETF Employer Contribution (3%)</label>
            <br>
            <label class="form-label" id="employerETFElm">{{etfEmployerContribution| number: '1.2-2'}}</label>
          </div>

          <button #saveBtn  type="submit" class=" m-2">Save</button>
          <button #clearBtn type="reset" class="btn-warning">Clear</button>

        </form>

      </div>
      <div id="rightDiv" class="flex-item p-3">
        <div class="table-responsive">
          <table class="table table-bordered table-sm table-hover table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>Emp ID</th>
              <th>Year</th>
              <th>Month</th>
              <th>Basic Salary</th>
              <th>Leave Allowed</th>
              <th>Leave Taken</th>
              <th>No Pay Leave</th>
              <th>Normal Overtime Hours</th>
              <th>Special overtime hours</th>
              <th>Salary Increment</th>
              <th>Cost of Living Allowance</th>
              <th>Food Allowance</th>
              <th>Conveyance Allowance</th>
              <th>Medical Allowance</th>
              <th>Gross Salary</th>
              <th>Over Time</th>
              <th>Reimbursements</th>
              <th>Bonus</th>
              <th>Salary Before Deduction</th>
              <th>No Pay Days Deductions</th>
              <th>Salary Advance</th>
              <th>welfare services</th>
              <th>insurance</th>
              <th>APIT</th>
              <th>EPF Employee</th>
              <th>Total Deductions</th>
              <th>Net Sallary</th>
              <th>EPF Employer</th>
              <th>ETF Employer</th>
              <th></th>
            </tr>

            </thead>
            <tbody *ngFor="let salary of salaryList">
            <tr>
              <td>{{salary.id}}</td>
              <td>{{salary.employeeID}}</td>
              <td>{{salary.year}}</td>
              <td>{{salary.month}}</td>
              <td>{{salary.basicSalary}}</td>
              <td>{{salary.leaveAllowed}}</td>
              <td>{{salary.leaveTaken}}</td>
              <td>{{salary.noPayLeave}}</td>
              <td>{{salary.normalOverTimeHours}}</td>
              <td>{{salary.specialOverTimeHours}}</td>
              <td>{{salary.salaryIncrement}}</td>
              <td>{{salary.conveyanceAllowance}}</td>
              <td>{{salary.foodAllowance}}</td>
              <td>{{salary.conveyanceAllowance}}</td>
              <td>{{salary.medicalAllowance}}</td>
              <td>{{salary.grossSalary}}</td>
              <td>{{salary.overTime}}</td>
              <td>{{salary.reimbursements}}</td>
              <td>{{salary.bonus}}</td>
              <td>{{salary.salaryBeforeDeduction}}</td>
              <td>{{salary.noPayDeduction}}</td>
              <td>{{salary.salaryAdvance}}</td>
              <td>{{salary.welfareService}}</td>
              <td>{{salary.insurance}}</td>
              <td>{{salary.apit}}</td>
              <td>{{salary.epfEmployeeContribution}}</td>
              <td>{{salary.totalDeductions}}</td>
              <td>{{salary.netPayableSalary}}</td>
              <td>{{salary.epfEmployerContribution}}</td>
              <td>{{salary.etfEmployerContribution}}</td>
              <td>
                <div class="delete p-1" (click)="deleteSalary(salary)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                  </svg>
                </div>
                <div class="edit" (click)="editSalary(salary,saveBtn)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
